[submodule "vendor/libaco"]
	path = vendor/libaco
	url = https://github.com/hnes/libaco.git
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "vendor/uthash"]
	path = vendor/uthash
	url = https://github.com/troydhanson/uthash.git
